.ChatScreen {
  display: flex;
  width: 100%;
}
.ChatMenu {
  flex: 3.5;
}
.ChatBox {
  flex: 5.5;
}
.ChatOnline {
  flex: 3;
}

.ChatBoxWrapper {
  display: flex;
  flex-direction: column;
}
.ChatUserName {
  margin: 10px;

  border-bottom: 0.5px solid rgb(144, 143, 143);
}
.OtherUserPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 8px;
}
.OtherUserName {
  margin-left: 5px;
  font-weight: bold;
}
.messageArea {
  /* height: 750px; */
  height: 81vh;
  overflow-y: scroll;
  padding-right: 10px;
}
.textArea {
  width: 76%;
  height: 40px;
  border-radius: 40px;
}
.SendButton {
  background-color: #ad02ad;
  color: white;
  border-color: #ad02ad;
  width: 80px;
  height: 40px;
  border-radius: 20px;
  margin-left: 5px;
}

.DropDownMessenger {
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
}
.DropDownMessenger ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.DropDownMessenger li {
  padding: 8px 12px;
}

.DropDownMessenger:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
